/* HEADER */

header{
    margin: 10px 35px;
    font-size: xx-large;
}

#logos{
    height: 70px;
    width: 140px;
    margin-top: 20px;
    
}
header ul{
    display: inline;
    float: right;
}

header li{
    display: inline;
    margin: 10px 30px;
}





/* NAVIGATION */
nav{
    display: block;
    margin-left: 35px;
}
nav h2{
    font-size: xx-large;
    margin-bottom: 5px;
}
nav p{
    margin-top: 5px;
}
div{
    
}
#box ul{
   width: 30%; 
}
input{
    font-size: large;
    margin-right: 0px;
}
nav h3{
    font-weight: bold;
}
nav button{
    background-color: rgb(4, 175, 255);
    color: white;
    font-size: large;
    margin-left: 0px;
}
nav i{
    background-color: #beb7b7;
    border-radius: 8px 0px 0px 8px;
    font-size: large;
    padding: 4.5px;
}



/* FILTER */
#box ul{
    display: flex;
    flex-direction: row;
    list-style:none ;  
}
#box ul li{
    margin: auto;
}
.box{
    display: inline;
}
#box i{
    color: #0065FC;
    background-color:#DEEBFF ;
}

#box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    margin-left:35px ;
    margin-top: 20px;
}
#box button{
    border-radius: 10px;
    font-size: large;
    padding: 5px;
}
span{
    margin-bottom:5px ;
    margin-left: 35px;
}

button:hover{
    background-color: rgb(121, 160, 121);
   
}
/*SECTION*/

section{
    display: flex;
    justify-content: space-around;
}


/*HEBERGEMENT*/



h3{
    display: block;
    font-size: 0.5em;
}


#hebergement{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    width: 1250px;
    border-radius: 15px;
    margin-top: 20px;
}
.element{
    height:40%;
    width: 30%;

}

img{
    height: 70%;
    width: 95%;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 0%;
}
article{
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
article h4{
    margin-top: 0%;
}

/*GLOBAL*/

#global{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    width: 500px;
    border-radius: 15px;
    margin-top: 20px;
}
.element2{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    height: 20%;
    width: 80%;
    display: inline-block;
}
.element2 img{
    width: 30%;
    height: 85%;
    position: relative;
    
}

